<div class="well well-sm">
  <h4>Deconstructing the Obsession</h4>
  <ul>
    <li>Revolves around the idea "<em><%= obsession.intrusive_thought %>"</em></li>
    <br>
    <li>Triggered by <%= obsession.triggers %></li>
    <br>
    <li>Induces anxiety at level <%= obsession.anxiety_rating %></li>
    <% if !obsession.symptoms.blank? %>
      <br>
      <li>Manifests as physical symptoms such as <%= obsession.symptoms %></li>
    <% end %>
    <br>
    <li>Produces the urge to perform rituals like <%= obsession.rituals %></li>
    <br>
    <li>Consumes <%= obsession.time_consumed %> <%= 'hour'.pluralize(obsession.time_consumed) %>/day</li>
  </ul>

  <% if policy(obsession).update? %>
    <br>
    <p><%= link_to "Edit Obsession", edit_obsession_path(obsession) %></p>
  <% end %>

  <% if policy(obsession).destroy? %>
    <%= button_to "Delete Obsession", obsession_path(obsession), method: :delete, data: { confirm: "Are you sure you want to delete this obsession?" } %>
  <% end %>
</div>
