<%= form_for @obsession do |obsession_builder| %>
  <% if @obsession.errors.any? %>
    <div id= "error_explanation">
      <h2>
        <%= pluralize(@obsession.errors.count, "error") %> prohibited this obsession from being saved:
      </h2>
      <ul>
        <% @obsession.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <label>Complete the prompts below:</label>

  <div class="field">
    <%= obsession_builder.label :intrusive_thought, "Identify the anxiety-inducing intrusive idea:" %>
    <br>
    <%= obsession_builder.text_area :intrusive_thought, placeholder: "What if I..." %>
  </div>

  <div class="field">
    <%= obsession_builder.label :triggers, "What precipitates a prolonged period of obsession?" %>
    <br>
    <%= obsession_builder.text_area :triggers, placeholder: "My obsession is triggered by..." %>
  </div>
<% end %>
