<div class="well well-sm">
  <h4>OCD Spike: <span class="obsession">"<%= obsession.intrusive_thought %>"</span></h4>

  <% if policy(obsession).show? %>
    <br>
    <p><strong>Reported by:</strong> <%= obsession.user.name %></p>
    <p><strong>Originating on:</strong> <%= originating_on(obsession) %></p>
    <p><strong>Triggered by</strong>: <%= obsession.triggers %></p>
    <p><strong>Induces anxiety at level</strong>: <%= obsession.anxiety_rating %></p>
    <p><strong>Manifests in symptoms such as:</strong> <%= obsession.symptoms %></p>
    <p><strong>Results in the urge to perform rituals such as:</strong> <%= obsession.rituals %></p>
    <p><strong>Consumes</strong>: <%= obsession.time_consumed %> hours/day</p>
    <p>...And thereby necessitates some quality <strong><%= link_to "Self Help!", obsession_path(obsession) %></strong></p>
  <% end %>

  <% if policy(obsession).update? %>
    <br>
    <p><%= link_to "Edit Obsession", edit_obsession_path(obsession) %></p>
  <% end %>

  <% if policy(obsession).destroy? %>
    <%= button_to "Delete Obsession", obsession_path(obsession), method: :delete, data: { confirm: "Are you sure you want to delete this obsession?" } %>
  <% end %>
</div>
