<div class="well well-sm">
  <h4>Deconstructing the Obsession</h4>
  <ul>
    <li>Triggered by <%= obsession.triggers %></li>
    <br>
    <li>Induces anxiety at level <%= obsession.anxiety_rating %></li>
    <% if !obsession.symptoms.blank? %>
      <br>
      <li>Manifests as physical symptoms such as <%= obsession.symptoms %></li>
    <% end %>
    <br>
    <li>Produces the urge to perform rituals like <%= obsession.rituals %></li>
    <br>
    <li>Consumes <%= obsession.time_consumed %> hours/day</li>
  </ul>
</div>
