<%= form_for @obsession do |obsession_builder| %>
  <% if @obsession.errors.any? %>
    <div id= "error_explanation">
      <h2>
        <%= pluralize(@obsession.errors.count, "error") %> prohibited this obsession from being saved:
      </h2>
      <ul>
        <% @obsession.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <label><em>Complete the following prompts:</em></label>

  <div class="field">
    <%= obsession_builder.label :intrusive_thought, "Identify the anxiety-inducing intrusive idea:" %>
    <br>
    <%= obsession_builder.text_area :intrusive_thought, placeholder: "What if I..." %>
  </div>

  <br>

  <div class="field">
    <%= obsession_builder.label :triggers, "What precipitates a prolonged period of obsession?" %>
    <br>
    <%= obsession_builder.text_area :triggers, placeholder: "My obsession is triggered by..." %>
  </div>

  <br>

  <div class="field">
    <%= obsession_builder.label :time_consumed, "On average, how much time is consumed by this obsession daily (including time spent ruminating and/or performing rituals)?" %>
    <br>
    <%= obsession_builder.number_field :time_consumed, step: :any %> <strong>hour(s)</strong>
  </div>

  <br>

  <div class="field">
    <%= obsession_builder.label :anxiety_rating, "On a scale of 1-10, rate the intensity of the discomfort produced by your obsession:" %>
    <%= obsession_builder.number_field :anxiety_rating %>
  </div>

  <br>

  <div class="actions">
    <%= obsession_builder.submit %>
  </div>

<% end %>
