<ul>
  <li>
    The intrusive thought "<%= obsession.intrusive_thought %>" is not a true reflection of me,
    but rather, a distortion manufactured by OCD.
  </li>

  <br>

  <li>
    Although my anxiety reaches its peak at level <%= obsession.anxiety_rating %>,
    I know that it will de-escalate<%= rhyme_symptoms(obsession) %>.
  </li>

  <br>

  <li>
    I'll control my response to <%= obsession.triggers %> and similar triggers
    since engaging in rituals such as <%= obsession.rituals %>
    only makes my obsessions grow bigger!
  </li>
</ul>
