<h1>Self-Help Guide</h1>

<h3>Deconstructing the Obsession</h3>

<br>

<div class="well well-lg">
  <p>
    The intrusive thought "<%= @obsession.intrusive_thought %>" was manufactured by my OCD
    and is not a true reflection of me.
  </p>
  <p>
    Although my anxiety reaches its peak at level <%= @obsession.anxiety_rating %>, I know that it will de-escalate,
    and symptoms such as <%= @obsession.symptoms %> will eventually disappear.
  </p>
  <p>
    I will control my response to triggers such as <%= @obsession.triggers %>,
    rather than avoiding them or engaging in rituals such as <%= @obsession.rituals %>.
  </p>
</div>
