<h3>OCD Spike: <span class="obsession">"<%= @obsession.intrusive_thought %>"</span></h3>

<% unless @obsession.patient_variant == "Both" %>
  <p><em>A permutation of <%= @obsession.patient_variant %> OCD content</em></p>
<% end %>

<p><em>Reported by <%= @obsession.patient_name %> on <%= created_on(@obsession) %></em></p>

<br>

<%= render partial: "obsession", locals: { obsession: @obsession } %>

<% if current_user.patient? %>
  <div class="well well-sm">
    <h4>Self-Help Guide</h4>
    <%= render partial: "self_help_ul", locals: { obsession: @obsession } %>
  </div>
<% end %>

<% if policy(@comment).create? %>
  <div class="well well-sm">
    <h4>Comment on This Obsession</h4>
    <%= render partial: "comments/form", locals: { obsession: @obsession, comment: @comment } %>
  </div>
<% end %>

<div class="well well-sm">
  <h3>All Comments</h3>
  <%= render(@comments) || "No comments were found..." %>
  <% if !@comments.empty? %>
    <p>Filter comments <%= link_to "here!", obsession_comments_path(@obsession) %></p>
  <% end %>
</div>

<p><strong>Expose yourself to this obsession by <%= link_to "creating an ERP plan", new_obsession_plan_path(@obsession) %></strong></p>
