<h1>Self-Help</h1>
<h4>Deconstructing Your Obsession</h4>

<div class="well well-lg">
  <p>
    The intrusive thought "<%= obsessify(@obsession.intrusive_thought) %>" was manufactured by my OCD
    and is not a true reflection of me.
  </p>
  <p>
    Although my anxiety reaches its peak at level <%= @obsession.anxiety_rating %>, I know that it will de-escalate,
    and symptoms such as <%= @obsession.symptoms %> will eventually disappear.
  </p>
  <p>
    I will control my response to triggers such as <%= @obsession.triggers %>,
    rather than avoiding them or engaging in rituals such as <%= @obsession.rituals %>.
  </p>
</div>

<% if policy(@obsession).update? %>
  <p><%= link_to "Edit Obsession", edit_obsession_path(@obsession) %></p>
<% end %>

<% if policy(@obsession).destroy? %>
  <%= button_to "Delete Obsession", obsession_path(@obsession), method: :delete, data: { confirm: "Are you sure you want to delete this obsession?" } %>
<% end %>
