<h3>OCD Spike: <span class="obsession">"<%= @obsession.intrusive_thought %>"</span></h3>

<% unless @obsession.patient_variant == "Both" %>
  <p><em>A permutation of <%= @obsession.patient_variant %> OCD content</em></p>
<% end %>

<p><em>Reported by <%= @obsession.patient_name %> on <%= originated_on(@obsession) %></em></p>

<br>

<%= render partial: "obsession_data_div", locals: { obsession: @obsession } %>

<div class="well well-sm">
  <h4>Self-Help Guide</h4>
  <%= render partial: "self_help_ul", locals: { obsession: @obsession } %>
</div>

<div class="well well-sm">
  <h4>Comment on This Obsession</h4>
  <%= render partial: "comments/form", locals: { obsession: @obsession, comment: @comment } %>
</div>

<% if policy(@obsession).update? %>
  <br>
  <p><%= link_to "Edit Obsession", edit_obsession_path(@obsession) %></p>
<% end %>

<% if policy(@obsession).destroy? %>
  <%= button_to "Delete Obsession", obsession_path(@obsession), method: :delete, data: { confirm: "Are you sure you want to delete this obsession?" } %>
<% end %>
