<h1>Admin Filtering Users</h1>

<br>

<div>
  <%= form_tag "/users", method: "get" do %>
    <%= label_tag "role", "Filter Users by Role:" %><br>
    <%= select_tag "role", options_for_select(["patient", "therapist", "admin"]), prompt: "Select Role" %>
    <%= submit_tag "Filter Users" %>
  <% end %>
</div>

<%= render partial: "users/users_ul", locals: { users: filtered_users } %>
<!-- The partial app/views/users/_users_ul.html.erb uses the local variable users,
which is set = to the value of filtered_users local variable found here in app/views/filter_users/_admin.html.erb partial,
which, in turn, got its filtered_users local variable set = to the value of @filtered_users
in app/views/users/index.html.erb from users#index
The above render call works, but this works too:
<%= render partial: "users/users_ul", locals: { users: local_assigns[:filtered_users] } %> -->
<br>

<div class="well well-lg">
  <p><strong><em>Users Awaiting Role Assignment:</em></strong></p>

  <br>
</div>
