<h3><em>Admin Access to All Accounts</em></h3>

<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">User ID #</th>
      <th scope="col">Profile Page</th>
      <th scope="col">Review or Revise Role</th>
      <th scope="col">Manage Account</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "users/user_row", collection: table_users, as: :user %>
  </tbody>
</table>

<div class="well well-lg">
  <%= form_tag "/users", method: "get" do %>
    <%= label_tag "role", "Filter Users by Role:" %><br><br>
    <%= select_tag "role", options_for_select(["unassigned", "patient", "therapist", "admin"]), prompt: "Select Role" %>
    <%= submit_tag "Filter Users" %>
  <% end %>

  <br>

  <% if filtered_users %>
    <%= render partial: "users/users_ul", locals: { users: filtered_users } %>
  <% end %>
</div>
<!-- The partial app/views/users/_users_ul.html.erb uses the local variable users,
which is set = to the value of filtered_users local variable found here in app/views/filter_users/_admin.html.erb partial,
which, in turn, got its filtered_users local variable set = to the value of @filtered_users
in app/views/users/index.html.erb from users#index
The above render call works, but this works too:
<%= render partial: "users/users_ul", locals: { users: local_assigns[:filtered_users] } %> -->
<br>

<div class="well well-lg">
  <label>Users Awaiting Role Assignment:</strong></label>

  <br><br>

  <p><em>Prospective Patients:</em></p>

  <%= render partial: "users/users_ul", locals: { users: prospective_patients } %>

  <p><em>Therapists To-Be:</em></p>

  <%= render partial: "users/users_ul", locals: { users: therapists_to_be } %>

  <p><em>Aspiring Admins:</em></p>

  <%= render partial: "users/users_ul", locals: { users: aspiring_admins } %>
</div>
