<h2>Patient Census</h2>

<br>

<h4>Filter Patients by...</h4>

<br>

<%= form_tag "/users", method: "get" do %>
  <%= select_tag "severity", options_for_select(["Mild", "Moderate", "Severe", "Extreme"]), prompt: "OCD Severity" %>
  <br><br>
  <%= select_tag "variant", options_for_select(["Traditional", "Purely Obsessional", "Both"]), prompt: "OCD Variant" %>
  <br><br>
  <%= select_tag "severity_and_variant",
  options_for_select([
    "Mild and Traditional",
    "Mild and Purely Obsessional",
    "Mild and Both",
    "Moderate and Traditional",
    "Moderate and Purely Obsessional",
    "Moderate and Both",
    "Severe and Traditional",
    "Severe and Purely Obsessional",
    "Severe and Both",
    "Extreme and Traditional",
    "Extreme and Purely Obsessional",
    "Extreme and Both"
  ]),
  prompt: "OCD Severity and Variant" %>
  <br><br>
  <%= select_tag "desensitization_deficiency", options_for_select(["Patients with obsession(s) lacking ERP plans", "Patients with Preliminary ERP Plans"]), prompt: "Deficiently Desensitized Patients" %>
  <br><br>
  <%= select_tag "symptoms_presence", options_for_select(["Symptomatic patients", "Asymptomatic patients"]), prompt: "Presence of Symptoms in Patients" %>
  <br><br>
  <%= select_tag "ruminating_recently", options_for_select(["Patients who reported new obsessions yesterday"]), prompt: "Patients Ruminating Recently" %>
  <br><br>
  <%= select_tag "num_obsessions", options_for_select(["Least to Most Obsessions", "Most to Least Obsessions"]), prompt: "Number of Obsessions" %>
  <br><br>
  <%= submit_tag "Filter Patients" %>
<% end %>

<br><br>

<% if filtered_users %>
  <%= render partial: "users/users_ul", locals: { users: filtered_users } %>
<% end %>
