<h3><em>Therapist Viewing Patient List</em></h3>

<br>

<h4>Filter Patients by...</h4>

<br>

<%= form_tag "/users", method: "get" do %>
  <%= select_tag "severity", options_for_select(["mild", "moderate", "severe", "extreme"]), prompt: "OCD Severity" %>
  <br><br>
  <%= select_tag "num_obsessions", options_for_select(["Fewest to Most Obsessions", "Most to Least Obsessions"]), prompt: "Number of Obsessions" %>
  <br><br>
  <%= select_tag "num_plans", options_for_select(["Fewest to Most Completed Plans", "Most to Least Completed Plans"]), prompt: "Number of Completed ERP Plans" %>
  <br><br>
  <%= submit_tag "Filter Patients" %>
<% end %>
