<div class="well well-sm">
  <p><em>On <%= created_on(comment) %>, <%= comment.user_name %> commented:</em></p>

  <p><strong>"<%= comment.content %>"</strong></p>

  <% if policy(comment).edit? %>
    <%= link_to "Edit Comment", edit_obsession_comment_path(comment.obsession, comment) %>
  <% end %>

  <% if policy(comment).destroy? %>
    <%= button_to "Delete Comment", obsession_comment_path(comment.obsession, comment), method: :delete, data: { confirm: "Are you sure you want to delete this comment?" } %>
  <% end %>
</div>
