<%= form_with(model: comment, local: true, url: (comment.new_record? ? [obsession, comment]: comment)) do |comment_builder| %>
  <div class="field">
    <%= comment_builder.label :content, label_comment %><br>
    <%= comment_builder.text_area :content, placeholder: (comment.errors.full_messages_for(:content).first || placefill_comment), class: "form-control" %>
    <small class="form-text text-muted">Please refrain from <%= reassurance_gerunds %> reassurance, as this exacerbates OCD!</small>
  </div>
  <br>
  <div class="actions">
    <%= comment_builder.hidden_field :obsession_id, value: obsession.id %>
    <%= comment_builder.submit label_submit_btn, class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
