<h3>Comments on Obsession: <em>"<%= @obsession.intrusive_thought %>"</em></h3>

<br>

<% if !@comments.concerns.empty? %>
  <p><strong>Most Recent Concern</strong>: "<em><%= @comments.concerns.most_recently_updated.content %></em>"</p>
<% end %>

<% if !@comments.advice.empty? %>
  <p><strong>Most Recent Advice</strong>: "<em><%= @comments.advice.most_recently_updated.content %></em>"</p>
<% end %>


<br>

<%= render partial: "filter_comments", locals: { obsession: @obsession } unless @comments.empty? %>

<br>

<%= render(@comments) || "No comments were found." %>

<%= link_to "Go back to obsession", obsession_path(@obsession) %>
