<div class="filter-plans">
  <%= present_plans_header %>
  <br>
  <%= form_tag plans_path, method: "get" do %>
    <%= label_tag :title_terms, "Key Terms Found in Plan Titles" %>:
    <%= text_field_tag :title_terms, nil, placeholder: "Search titles containing...", class: "form-control" %>
    <br>
    <%= label_tag :obsession_targeted, "Obsession Targeted" %>:
    <%= select_tag :obsession_targeted, options_from_collection_for_select(obsessions, "id", "intrusive_thought"), prompt: "Choose Obsession by Intrusive Idea" %>
    <br><br>
    <%= label_tag :accomplishment, "Accomplishment" %>:
    <%= select_tag :accomplishment, options_for_select(["Accomplished Plans", "Unaccomplished Plans"]), prompt: "Accomplished vs. Unaccomplished Plans" %>
    <br><br>
    <%= label_tag :delineation, "Delineation" %>:
    <%= select_tag :delineation, options_for_select(["Plans with Steps", "Stepless Plans"]), prompt: "Delineated vs. Undelineated Plans" %>
    <br><br>
    <%= render partial: "shared/approach_and_theme_filters", locals: { themes: themes } %>
    <br><br>
    <% if current_user.therapist? %>
      <%= label_tag :designer, "Plan Designer" %>:
      <%= select_tag :designer, options_from_collection_for_select(counselees, "id", "name"), prompt: "Select Patient" %>
      <br><br>
    <% end %>
    <%= submit_tag "Filter ERP Plans", class: "btn btn-default btn-sm" %>
  <% end %>
</div>
