<div class="plans">
  <%= filter_plans_header %>
  <br>
  <%= form_tag plans_path, method: "get" do %>
    <%= label_tag :title_terms, "Key Terms Found in Plan Titles" %>:
    <%= text_field_tag :title_terms, nil, placeholder: "Search titles containing...", class: "form-control" %>
    <br>
    <%= select_tag :obsession_targeted, options_from_collection_for_select(obsessions, "id", "intrusive_thought"), prompt: "Obsession Targeted" %>
    <br><br>
    <%= render partial: "shared/approach_and_theme_filters", locals: { themes: themes } %>
    <br><br>
    <%= submit_tag "Filter ERP Plans", class: "btn btn-default btn-sm" %>
  <% end %>
</div>
