<%= form_for theme do |f| %>
  <%= validation_errors_for(theme) %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: (theme.errors.full_messages_for(:name).first || "Enter theme name...") %>
  </div>

  <br>

  <div class="field">
    <%= f.label :description, "Define this theme" %><br>
    <small><em>(If the name is not self-explanatory)</em></small>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit class: "btn btn-default btn-small" %>
  </div>
<% end %>
