<div class="well well-lg">
  <h4><mark><%= theme.name %></mark></h4>
  <small><em> — contributed by <%= theme.contributor_name %></em></small>

  <br><br>

  <%= content_tag(:p, theme.description) unless theme.description.blank? %>

  <p><em><%= theme.popularity %></em></p>

  <% if policy(theme).edit? %> <!-- Only the therapist who created the theme can edit and delete it -->
    <br>
    <%= theme.edit_link %>
    <%= theme.delete_link %>
  <% end %>
</div>
