<%= form_for theme do |f| %>
  <%= validation_errors_for(theme) %>

  <div class="field">
    <%= f.label :name %>:
    <%= f.text_field :name, placeholder: (theme.errors.full_messages_for(:name).first || "Enter theme name...") %>
  </div>

  <br>

  

  <br>

  <div class="actions">
    <%= f.submit class: "btn btn-default btn-small" %>
  </div>
<% end %>
