<% if !@themes.empty? %>
  <h2>OCD Themes</h2>

  <h4><em>Discover the prevalence of a particular type of OCD in patients!</em></h4>

  <br>

  <label>Filter OCD Themes by:</label>

  <br><br>

  <%= form_tag(themes_path, method: "get") do %>
    <%= select_tag "prevalence", options_for_select(["Least to Most Prevalent", "Most to Least Prevalent"]), prompt: "Prevalence of OCD Theme in Patients" %>
    <br><br>
    <%= select_tag "obsession_count", options_for_select(["Least to Most Obsessions per Theme", "Most to Least Obsessions per Theme"]), prompt: "Number of Obsessions per Theme" %>
    <br><br>
    <%= submit_tag "Filter Themes" %>
  <% end %>

  <hr>

  <% if @theme %>
    <%= render @theme %>
  <% elsif @themes %>
    <%= render(@themes) %>
  <% end %>
<% end %>

<% if policy(@new_theme).destroy? %> <!--Only therapists can create and destroy themes on themes index page)-->
  <h3>Theme by Therapist</h3>
  <p>Create a new OCD theme in which to classify your patients' obsessions!</p>
  <%= render partial: "theme_by_therapist", locals: { new_theme: @new_theme } %>
<% end %>
