<h2>OCD Themes</h2>

<h4><em>Discover the prevalence of a particular type of OCD among OCDefeat users!</em></h4>

<br>

<%= form_tag(themes_path, method: "get") do %>
  <%= label_tag "prevalence", "Filter OCD Themes by: " %>
  <br><br>
  <%= select_tag "prevalence", options_for_select(["Least to Most Prevalent", "Most to Least Prevalent"]), prompt: "Prevalence of OCD Theme Among Patients" %>
  <br><br>
  <%= select_tag "obsession_count", options_for_select(["Least to Most Obsessions per Theme", "Most to Least Obsessions per Theme"]), prompt: "Number of Obsessions per Theme" %>
  <br><br>
  <%= submit_tag "Filter Themes" %>
<% end %>

<br>

<ul>
  <% @themes.each do |theme| %>
    <p><strong><%= theme.name %>:</strong> <%= num_obsessions_for(theme) %></p>

    <% if policy(theme).destroy? %>
      <%= button_to "Remove Theme", theme_path(theme), method: :delete, data: { confirm: "This OCD theme will be permanently deleted. Are you sure you want to remove this content?" } %>
    <% end %>

    <br>
  <% end %>
</ul>
