<tr>
  <td><%= link_to user.name, user_path(user) %></td>
  <td><%= user.severity %></td>
  <td><%= user.variant %></td>
  <td><%= user.present_clinical_presentation %></td>
  <td><%= user.objects_count("obsession") %></td>
  <td><%= user.plan_count %></td>
</tr>
