<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <br>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <br>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <br>

  <div class="field">
    <%= f.label :password_confirmation, "Password Confirmation" %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <br>

  <%= f.label :role_requested, "Request a Role: " %>

  <%= f.select :role_requested, options_for_select(["Patient", "Therapist", "Admin"]), include_blank: true %>

  <hr>

  <label>Rate the severity of your OCD based on the amount of time you obsess daily:</label>

  <br><br>

  <%= f.radio_button :severity, 'Mild' %>
  <%= f.label :ocd_severity_mild, "Mild:" %> <%= "less than 1 hr/day" %><br>
  <%= f.radio_button :severity, 'Moderate' %>
  <%= f.label :ocd_severity_moderate, "Moderate:" %> <%= "1-3 hrs/day" %><br>
  <%= f.radio_button :severity, 'Severe' %>
  <%= f.label :ocd_severity_severe, "Severe:" %> <%= "3-8 hrs/day" %><br>
  <%= f.radio_button :severity, 'Extreme' %>
  <%= f.label :ocd_severity_extreme, "Extreme:" %> <%= "more than 8 hrs/day" %><br>
  <%= f.radio_button :severity, 'Nonobsessive' %>
  <%= f.label :ocd_severity_nonobsessive, "N/A:" %> <%= "I requested the role of therapist/admin" %><br>

  <hr>

  <label>Describe your OCD:</label>

  <br><br>

  <%= f.radio_button :variant, 'Traditional' %>
  <%= f.label :ocd_variant_traditional, "Traditional:" %>
  <p>I perform outward compulsive behaviors, such as repetitively washing my hands or touching the doorknob a certain number of times.</p>
  <br>
  <%= f.radio_button :variant, 'Purely Obsessional' %>
  <%= f.label :ocd_variant_purely_obsessional, "Purely Obsessional (Pure-O):" %>
  <p>My rituals take place primarily in my own mind, such as mental review of events and prolonged periods of rumination.</p>
  <br>
  <%= f.radio_button :variant, 'Both' %>
  <%= f.label :ocd_variant_both, "Both Traditional and Pure-O Variants:" %>
  <p>I perform a combination of overtly compulsive behaviors and primarily obsessional mental exercises.</p>
  <br>
  <%= f.radio_button :variant, 'Neither' %>
  <%= f.label :ocd_variant_neither, "Neither Traditional nor Pure-O Variants:" %>
  <p>N/A (I requested the role of therapist/admin.)</p>
  <hr>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
