<h2>Admin Account</h2>

<div class="well well-sm">
  <h4><u>OCDefeat Enrollment Statistics</u></h4>
  <p><strong>Admins</strong>: <%= User.by_role("admin").count %></p>
  <p><strong>Therapists</strong>: <%= User.by_role("therapist").count %></p>
  <p><strong>Patients</strong>: <%= User.patients.count %></p>
  <p><strong>Unassigned Users</strong>: <%= User.by_role("unassigned").count %></p>
</div>

<%= render partial: "manage_account", locals: { user: @user } %>
