<h2><strong>Patient Profile</strong></h2>

<h4><%= @user.name %> vs. <%= @user.severity %> OCD</h4>

<br>

<div class="well well-lg">
  <p><strong>Obsession Count:</strong> <%= obsession_pronouns %> currently conquering <%= pluralize(@user.obsession_count, "obsession") %>!</p>

  <br>

  <% if policy(Obsession).create? %>
    <p>Fixated on something else? <%= link_to "Report a new obsession", new_obsession_path %> that you'll surely overcome!</p>
    <br>
  <% end %>

  <p>
    <strong>Number of ERP Plans Designed:</strong>
    The patient has designed <%= pluralize(@user.num_plans_designed, "ERP plan") %> thus far!
  </p>

  <br>

  <p>Need more practice? Become desensitized to your OCD triggers by developing a <%= link_to "new ERP plan", new_plan_path %>!</p>

  <br>

</div>

<%= render partial: "manage_account", locals: { user: @user } %>
