<h2><strong>Patient Profile</strong></h2>

<h4><%= @user.name %> vs. <%= @user.severity %> OCD</h4>

<br>

<div class="well well-lg">
  <p><strong>Obsession Count:</strong> <%= obsession_pronouns %> <%= pluralize(@user.obsession_count, "obsession") %>.</p>

  <br>

  <% if policy(Obsession).create? %>
    <p>Fixated on something else? <%= link_to "Report a new obsession", new_obsession_path %> that you'll surely overcome!</p>
    <br>
  <% end %>

  <p><strong>Number of ERP Plans Designed:</strong> <%= plan_pronouns %> <%= pluralize(@user.num_plans_designed, "ERP plan") %> thus far.</p>

  <br>

  <% if policy(Plan).create? %>
    <p>Need more practice? Develop a <%= link_to "new ERP plan", new_plan_path %> to expose yourself to your triggers and achieve desensitization!</p>
    <br>
  <% end %>

</div>

<%= render partial: "manage_account", locals: { user: @user } %>
