<h2><strong>Patient Profile</strong></h2>

<h4><%= @user.name %> vs. <%= @user.severity.capitalize %> OCD</h4>

<br>

<div class="well well-lg">
  <p><strong>Obsession Count:</strong> You are currently conquering <%= pluralize(@user.obsession_count, "obsession") %>!</p>

  <br>

  <p>Fixated on something else? <%= link_to "Create a new obsession", new_obsession_path %> that you'll surely overcome!</p>

  <br>

  <p>
    <strong>Number of ERP Plans Designed:</strong>
    You have designed <%= pluralize(@user.num_plans_designed, "ERP plan") %> thus far!
  </p>

  <br>

  <p>Need more practice? Become desensitized to your OCD triggers by developing a <%= link_to "new ERP plan", new_plan_path %>!</p>

  <br>

</div>

<% if policy(@user).update? %>
  <%= link_to "Edit Account", edit_user_path(@user) %>
<% end %>

<% if policy(@user).destroy? %>
  <%= button_to "Delete Account", user_path(@user), method: :delete, data: { confirm: "Your account will be permanently deleted. Are you sure you want to leave the OCDefeat community?" } %>
<% end %>
