<h2>Professional Profile</h2>

<% if current_user.therapist? %>
  <h4>Patients whose distress surpasses average anxiety levels:</h4>
  <%= panicky_patients %>
<% end %>

<div class="well well-lg">
  <p><strong>OCDefeat Title:</strong> <%= @user.name %>, OCDefeat Therapy Forum Facilitator</p>
  <p><strong>Email Address:</strong> <%= @user.email %></p>
  <p><strong>Psychology Specialty:</strong> Obsessive Compulsive Disorder (OCD)</p>
</div>

<div class="well well-lg">
  <% if policy(@user).edit? %>
    <h3>Patient Management</h3>
    <h4>Your Current Caseload: <%= @user.counselees.count %></h4>
    <br>

    <div class="well well-sm">
      <h4><u>Patients to Monitor for High Anxiety</u></h4>
      <%= panicky_patients %>
    </div>
  <% end %>
</div>

<%= render partial: "manage_account", locals: { user: @user } %>
