<h2>Professional Profile</h2>

<div class="well well-lg">
  <p><strong>OCDefeat Title:</strong> <%= @user.name %>, OCDefeat Therapy Forum Facilitator</p>
  <p><strong>Psychology Specialty:</strong> Obsessive Compulsive Disorder (OCD)</p>
  <p><strong>Email Address:</strong> <%= @user.email %></p>
</div>

<div class="well well-lg">
  <% if policy(@user).edit? %>
    <h3>Patient Management</h3>
    <h4>Your Current Caseload: <%= User.patients.count %></h4>
    <br>
    <div class="well well-sm">
      <h4><u>Breakdown by OCD Severity</u></h4>
      <br>
      <% ["Mild", "Moderate", "Severe", "Extreme"].each do |severity| %>
        <%= sort_severity_diagnosees(severity) %>
      <% end %>
    </div>

    <p><strong>Patients to Monitor for High Anxiety:</strong></p>
    <%= panicky_patients %>
  <% end %>
</div>

<%= render partial: "manage_account", locals: { user: @user } %>
