<h1>Thank you for joining the OCDefeat community!</h1>

<h3><em>Your registration information is being processed, and your role assignment is pending.</em></h3>

<br>

<p><strong>Name:</strong> <%= @user.name %></p>
<p><strong>Role Requested:</strong> <%= @user.role_requested %></p>

<% if @user.provider == "twitter" %>
  <div class="unassigned well">
    <h4 class="unassigned">Thanks for logging in with Twitter!</h4>
    <p class="unassigned">You automatically registered as a prospective <strong>patient</strong> who has <strong>mild</strong> OCD.</p>
    <p class="unassigned">If this is an inaccurate OCD diagnosis and/or you don't want to be a patient,</p>
    <p class="unassigned">you can override default settings for measuring OCD severity and requesting a role <%= link_to "here", edit_user_path(@user) %>!</p>
  </div>
<% end %>

<%= link_to "Edit Account", edit_user_path(@user) %>

<%= button_to "Delete Account", user_path(@user), method: :delete, data: { confirm: "Your account will be permanently deleted. Are you sure you want to leave the OCDefeat community?" } %>
