<% if @user.role_requested.nil? || (@user.unassigned? && @user.provider == "twitter") %>
  <div class="well well-lg">
    <h2>Request a Role in the OCDefeat Community:</h2>
    <br>
    <%= form_for @user do |f| %>
      <%= f.radio_button :role_requested, "Patient" %>
      <%= f.label :role_requested_patient, "Patient:" %> As a patient, you can defeat OCD by implementing custom ERP plans tailored to your obsessions!<br><br>
      <%= f.radio_button :role_requested, "Therapist" %>
      <%= f.label :role_requested_therapist, "Therapist:" %> As a therapist, you can facilitate our mental health forum by devising exposure activities and modifying patients' ERP plans!<br><br>
      <%= f.radio_button :role_requested, "Admin" %>
      <%= f.label :role_requested_admin, "Admin:" %> As an admin, you can manage users' accounts and assign their role assignment!
      <br><br>
      <%= f.submit "Request Role" %>
    <% end %>
  </div>
<% end %>
