<%= div_for_step(step) do %>
  <% if step.completed? %>
    <h4><span class="glyphicon glyphicon-ok-circle"></span> STEP #<%= position_in_plan(step) %></h4>
  <% else %>
    <h4>STEP #<%= position_in_plan(step) %></h4>
  <% end %>

  <em><%= last_updated(step) %></em>

  <br><br>

  <p><strong>Instructions for Performing ERP Exercise:</strong> <%= step.instructions %></p>
  <p><strong>Duration of Exercise:</strong> <%= step.duration %></p>
  <p><strong>Degree of Discomfort:</strong> <%= display_discomfort(step) %></p>

  <%= render partial: "steps/set_step_status", locals: { step: step } if current_user == step.plan.user %>

  <br>

  <% if policy(step).update? && !step.plan.finished? %>
    <%= link_to edit_step_path(step), class: "btn btn-primary btn-sm" do %>
      <%= content_tag(:span, nil, class: "glyphicon glyphicon-edit") %> Edit Step
    <% end %>
  <% end %>

  <% if policy(step).destroy? && !step.plan.finished? %>
    <%= link_to step_path(step), method: :delete, data: { confirm: "Are you sure you want to delete this exposure exercise?" }, class: "btn btn-danger btn-sm" do %>
      <%= content_tag(:span, nil, class: "glyphicon glyphicon-trash") %> Delete Step
    <% end %>
  <% end %>
<% end %>
