<%= form_with(model: step, local: true, url: (step.new_record? ? [plan, step]: step)) do |step_builder| %>
  <%= validation_errors_for(@step) %>

  <br>

  <div class="field">
    <%= step_builder.label :instructions, "In a procedural fashion, explain how to perform this exercise:" %><br>
    <%= step_builder.text_area :instructions, :placeholder => (step.errors.full_messages_for(:instructions).first || "Provide instructions...") %>
  </div>

  <br>

  <div class="field">
    <%= step_builder.label :duration, "Estimate the amount of time it takes to perform this exercise:" %><br>
    <%= step_builder.text_field :duration, :placeholder => (step.errors.full_messages_for(:duration).first || "Add exercise duration...") %>
  </div>

  <br>

  <% if !step.new_record? && policy(step.plan).destroy? %>
    <div class="field">
      <%= step_builder.label :discomfort_degree, "On a scale of 1-10, rate your degree of discomfort while performing this exercise:" %>
      <%= step_builder.number_field :discomfort_degree, in: 1..10 %>
    </div>
  <% end %>

  <br>

  <%= step_builder.hidden_field :plan_id, value: plan.id %>

  <div class="actions">
    <%= step_builder.submit %>
  </div>
<% end %>
