<%= div_for_step(step) do %>
  <div class="well well-lg">
    <h4>STEP #<%= step.plan.steps.find_index(step).to_i + 1 %></h4>
    <p><strong>Instructions for Performing ERP Exercise:</strong> <%= step.instructions %></p>
    <p><strong>Duration of Exercise:</strong> <%= step.duration %></p>

    <% if current_user.patient? %>
      <% if step.discomfort_degree %>
        <p><strong>Degree of Discomfort:</strong> <%= step.discomfort_degree %></p>
      <% else %>
        <p><%= link_to "Rate your level of discomfort", edit_plan_step_path(step.plan, step) %> when performing this ERP exercise.</p>
      <% end %>
      <p>
        <em>Check the box below once you have completed this ERP exercise:</em>
        <%= set_step_status(step) %>
      </p>
    <% elsif current_user.therapist? || current_user.admin? %>
      <% if step.complete? %>
        <p><strong>Status:</strong> The patient has completed this ERP exercise.</p>
      <% else %>
        <p><strong>Status:</strong> The patient has not completed this exercise yet.</p>
      <% end %>

      <% if step.discomfort_degree %>
        <p>The patient rated their discomfort at level <%= step.discomfort_degree %></p>
      <% end %>
    <% end %>

    <% if policy(step).update? %>
      <p><%= link_to "Edit Step", edit_plan_step_path(step.plan, step) %></p>
    <% end %>

    <% if policy(step).destroy? %>
      <%= button_to "Delete Step", plan_step_path(step.plan, step), :method => "delete", data: { confirm: "Are you sure you want to remove this ERP exercise?" } %>
    <% end %>
  </div>
<% end %>
