<%= div_for_step(step) do %>
  <h4>STEP #<%= position_in_plan(step) %></h4>
  <em><%= last_updated(step) %></em>
  <br><br>
  <p><strong>Instructions for Performing ERP Exercise:</strong> <%= step.instructions %></p>
  <p><strong>Duration of Exercise:</strong> <%= step.duration %></p>
  <p><strong>Degree of Discomfort:</strong> <%= display_discomfort(step) %></p>
  <p><strong>Status:</strong> <%= show_status(step) %></p>

  <%= render partial: "steps/set_step_status", locals: { step: step } if current_user.patient? %>

  <% if policy(step).update? %>
    <p><%= link_to "Edit Step", edit_step_path(step) %></p>
  <% end %>

  <% if policy(step).destroy? %>
    <%= button_to "Delete Step", step_path(step), :method => "delete", data: { confirm: "Are you sure you want to remove this ERP exercise?" } %>
  <% end %>
<% end %>
