<h2>Advanced Search for Obsessions</h2>

<%= form_for @search do |f| %>
  <div class="field">
    <%= f.label :key_terms, "Key Terms:" %><br>
    <%= f.text_field :key_terms %>
  </div>

  <br>

  <div class="field">
    <%= f.label :user_id, "Patient Identity:" %><br>
    <%= f.collection_select :user_id, User.patients.order(:name), :id, :name, include_blank: true %><br>
  </div>

  <br>

  <div class="field">
    <%= f.label :min_anxiety_rating, "Range of Anxiety" %><br>
    <%= f.text_field :min_anxiety_rating, size: 5 %> -
    <%= f.text_field :max_anxiety_rating, size: 5 %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Search Obsessions" %>
  </div>
<% end %>
