<%= form_with(model: plan, local: true, url: (plan.new_record? ? [obsession, plan]: plan)) do |plan_builder| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(plan.errors.count, "error") %> prohibited this ERP plan from being saved:
      </h2>

      <ul>
        <% plan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if plan && (plan.steps.empty? || plan.steps.detect {|step| step.incomplete?}) %>
    <p><strong><%= add_or_perform_steps(plan) %> <%= link_to "here!", plan_path(plan) %></strong></p>
    <br>
  <% end %>

  <div class="field">
    <%= plan_builder.label :title, "What's the title of your ERP plan?" %><br>
    <%= plan_builder.text_field :title, :placeholder => (plan.errors.full_messages_for(:title).first || "Enter your plan's title...") %>
  </div>

  <br>

  <div class="field">
    <%= plan_builder.label :goal, "What's the intended goal of your ERP plan?" %><br>
    <%= plan_builder.text_field :goal, :placeholder => (plan.errors.full_messages_for(:goal).first || "Enter your plan's goal...") %>
  </div>

  <br><br>

  <div class="field">
    <%= plan_builder.label :flooded, "Will your ERP plan favor flooding over graded exposure to triggers?" %><br><br>
    <%= plan_builder.radio_button :flooded, 'true' %>
    <%= plan_builder.label :flooded_true, "Yes" %>, I will immediately flood myself with exposures that produce the most discomfort.<br><br>
    <%= plan_builder.radio_button :flooded, 'false' %>
    <%= plan_builder.label :flooded_false, "No" %>, I will construct a progression of exposures to gradually face my fears.<br><br>
  </div>

  <br>

  <div class="actions">
    <%= plan_builder.submit %>
  </div>
<% end %>
