<div class="report well well-lg">
  <h4>Progress Report</h4>
  <p>The report indicates that patient <%= planner(done, undone) %> <%= report(done, undone) %></p>
  <br>

  <% if done %> <!-- If the patient selected has finished ERP plans -->
    <p><strong><u>Finished Plans</u></strong></p>
    <%= render partial: "plans_ul", locals: { plans: done } %>
    <br>
  <% end %>

  <% if undone && !undone.with_steps.empty? %> <!-- If the patient selected has unfinished plans with steps -->
    <p><strong><u>Unfinished Delineated Plans</u></strong></p>

    <% if !undone.with_incomplete_step.empty? %>
      <small>~with at least one incomplete step:</small>
      <%= render partial: "plans_ul", locals: { plans: undone.with_incomplete_step } %>
    <% end %>

    <% if !undone.unfinished_but_with_all_steps_completed.empty? %>
      <small>~with all steps marked as completed but not yet archived:</small>
      <%= render partial: "plans_ul", locals: { plans: undone.unfinished_but_with_all_steps_completed } %>
    <% end %>

    <% if undone.stepless.empty? %> <!-- If all unfinished plans have steps -->
      <small><em>*The patient must mark all steps as completed and then mark each plan as finished*</em></small>
      <br><br>
    <% end %>
  <% end %>

  <% if undone && !undone.stepless.blank? %>
    <p><strong><u>Unfinished Stepless Plans:</strong></p>
    <%= render partial: "plans_ul", locals: { plans: undone.stepless } %>
    <% if undone.with_steps.empty? %>
        <small>*The patient must delineate the steps of every plan*</small>
        <br><br>
    <% end %>
  <% end %>
</div>
