<%= form_with(model: plan, local: true, url: (plan.new_record? ? [obsession, plan]: plan)) do |plan_builder| %>
  <%= validation_errors_for(@plan) %>

  <br>

  <% if !plan.new_record? && plan.unachieved? %>
    <br>
    <%= content_tag(:div, class: "alert alert-warning", role: "alert") do %>
      <%= content_tag(:h4, "This ERP plan remains unfinished!", class: "alert-heading") %>
      <%= content_tag(:p, content_tag(:strong, reason_why_unachieved(plan))) %>
      <hr>
      <%= content_tag(:span, add_or_perform_steps(plan)) + link_to(" here!", plan_path(plan)) %>
    <% end %>
    <br>
  <% end %>

  <div class="field">
    <%= plan_builder.label :title, "What's the title of your ERP plan?" %><br>
    <%= plan_builder.text_field :title, :placeholder => (plan.errors.full_messages_for(:title).first || "Enter your plan's title...") %>
  </div>

  <br>

  <div class="field">
    <%= plan_builder.label :goal, "What's the intended goal of your ERP plan?" %><br>
    <%= plan_builder.text_field :goal, :placeholder => (plan.errors.full_messages_for(:goal).first || "Enter your plan's goal...") %>
  </div>

  <br><br>

  <div class="field">
    <%= plan_builder.label :flooded, "Will your ERP plan favor flooding over graded exposure to triggers?" %><br><br>
    <%= plan_builder.radio_button :flooded, 'true' %>
    <%= plan_builder.label :flooded_true, "Yes" %>, I will immediately flood myself with exposures that produce the most discomfort.<br><br>
    <%= plan_builder.radio_button :flooded, 'false' %>
    <%= plan_builder.label :flooded_false, "No" %>, I will construct a progression of exposures to gradually face my fears.<br><br>
  </div>

  <br>

  <div class="actions">
    <%= plan_builder.submit %>
  </div>
<% end %>
