<div class="report well well-lg">
  <h4>ERP Progress Report</h4>
  <p>The report indicates that patient <%= planner(accomplished, unaccomplished) %> <%= report(accomplished, unaccomplished) %></p>
  <br>

  <% if accomplished %> <!-- If the patient selected has finished ERP plans -->
    <p><em>Finished Plans:</em></p>
    <%= present_plans(accomplished) %>
  <% end %>

  <% if unaccomplished %> <!-- If the patient selected has unfinished ERP plans -->
    <% if !unaccomplished.stepless.blank? %>
      <p><em>Unfinished Plans without Steps:</em></p>
      <%= present_plans(unaccomplished.stepless) %>
    <% end %>
    <% if !unaccomplished.with_steps.blank? %>
      <p><em>Unfinished Plans with Steps:</em></p>
      <%= present_plans(unaccomplished.with_steps) %>
    <% end %>
  <% end %>
</div>
