<%= div_for(plans, :class => "well well-sm") do |plan| %>
  <h3><%= link_to plan.title, plan_path(plan) %></h3>
  <p><strong>Goal:</strong> <%= plan.goal %></p>
  <p><strong>Number of Steps:</strong> <%= plan.steps.count %></p>
  <p><strong>Status:</strong> <%= status_of(plan) %></p>
<% end %>
