<div class="report well well-lg">
  <h4>Progress Report</h4>
  <p><em>We've documented your progress toward mastery of OCD through ERP!</em></p>
  <br>
  <p>The report indicates that you <%= report(done, undone) %></p>
  <br>

  <label><u>Finished Plans</u></label>:
  <% if done.empty? %>
    <small>No plans were marked as finished.</small>
    <br><br>
  <% else %>
    <%= content_tag(:small, "All plans were marked as finished!") if undone.empty? %>
    <%= render partial: "plans_ul", locals: { plans: done } %>
  <% end %>

  <label><u>Unfinished Plans</u></label>:
  <% if undone.empty? %>
    <small>No plans were left unfinished.</small>
    <br>
  <% else %>
    <%= content_tag(:small, "All plans were left unfinished.") if done.empty? %>
    <br><br>

    <em>Unfinished Delineated Plans:</em>
    <% if undone.with_steps.empty? %> <!-- If the patient's unfinished plans all lack steps -->
      <small>0</small>
      <br><br>
    <% else %>
      <br>
      <small>~with at least one incomplete step:</small>
      <% if undone.with_incomplete_step.empty? %>
        <small>0</small>
        <br>
      <% else %>
        <%= render partial: "plans_ul", locals: { plans: undone.with_incomplete_step } %>
      <% end %>
      <small>~with all steps marked complete but not archived:</small>
      <% if undone.unfinished_but_with_all_steps_completed.empty? %>
        <small>0</small>
        <br><br>
      <% else %>
        <%= render partial: "plans_ul", locals: { plans: undone.unfinished_but_with_all_steps_completed } %>
      <% end %>
    <% end %>

    <em>Unfinished Stepless Plans</em>:
    <% if undone.stepless.empty? %>
      <small>0</small>
    <% else %>
      <%= render partial: "plans_ul", locals: { plans: undone.stepless } %>
    <% end %>
  <% end %>
  <%= content_tag(:small, "You must delineate the steps of every unfinished plan.") if undone.with_steps.empty? %>
  <%= content_tag(:small, "You must mark all steps as completed and then mark each plan as finished") if undone.stepless.empty? %>
</div>
