<div class="report well well-lg">
  <h4>ERP Progress Report</h4>
  <p>The report indicates that patient <%= planner(accomplished, unaccomplished) %> <%= report(accomplished, unaccomplished) %></p>
  <br>

  <% if accomplished %> <!-- If the patient selected has finished ERP plans -->
    <p><strong><u>Finished Plans</u></strong></p>
    <%= present_plans(accomplished) %>
  <% end %>

  <% if unaccomplished %> <!-- If the patient selected has unfinished ERP plans -->
    <p>
      <strong><u>Unfinished Plans:</u></strong>
      <% if unaccomplished.with_steps.blank? %>
        The patient must delineate the steps of every plan!
      <% elsif unaccomplished.stepless.blank? %>
        The patient must complete each step in every plan and then mark each plan as finished!
      <% end %>
    </p>

    <% if !unaccomplished.with_steps.blank? %>
      <p><em>~Delineated Plans:</em></p>
      <%= present_plans(unaccomplished.with_steps) %>
    <% end %>

    <% if !unaccomplished.stepless.blank? %>
      <p><em>~Stepless Plans:</em></p>
      <%= present_plans(unaccomplished.stepless) %>
    <% end %>
  <% end %>
</div>
