<h1>Index of ERP Plans</h1>

<div>
  <h3>Filter ERP Plans by...</h3>

  <br>

  <%= render partial: filters, locals: { plans: @plans, patients: @patients, themes: @themes, your_obsessions: @your_obsessions } %>
</div>

<br>

<% if @plan %>
  <p><%= link_to @plan.title, plan_path(@plan) %></p>
<% else %>
  <ul>
    <% @plans.each do |plan| %>
      <li><%= link_to plan.title, plan_path(plan) %></li>
    <% end %>
  </ul>
<% end %>



<% if @patient_picked %> <!--Therapist filtered plans by patient's progress in ERP practice-->

  <div class="well well-lg">
    <h4><%= @patient_picked.name %>'s ERP Progress:</h4>

    <br>

    <% if @completed %> <!--If the patient selected has completed ERP plans-->
      <p><em>ERP Plans Completed:</em></p>
      <ul>
        <% @completed.each do |completed_plan| %>
          <li><%= link_to completed_plan.title, plan_path(completed_plan) %></li>
        <% end %>
      </ul>
    <% end %>

    <% if @not_yet_completed %> <!--If the patient selected has incomplete ERP plans-->
      <p><em>ERP Plans Pending Completion:</em></p>
      <ul>
        <% @not_yet_completed.each do |incomplete_plan| %>
          <li><%= link_to incomplete_plan.title, plan_path(incomplete_plan) %></li>
        <% end %>
      </ul>
    <% end %>

  </div>
<% end %>
