<% entitle_page @plan.title %>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= @plan.title %><small><em> — an ERP plan designed by <%= @plan.user.name %></em></small>
    </h3>
    <br>
    <p><span class="glyphicon glyphicon-thumbs-up"></span> <strong>Goal</strong>: <%= @plan.goal %></p>
    <p><span class="glyphicon glyphicon-thumbs-up"></span> <strong>Treatment Approach</strong>: <%= @plan.show_strategy %></p>
    <br>
    <em><%= @plan.last_modified %></em>
    <br><br>
    <%= render partial: "plans/finish_plan_form", locals: { plan: @plan } if policy(@plan).create? %>
  </div>
  <div class="panel-body">
    <%= render partial: "steps/step_div", collection: @plan.steps, as: :step %>
  </div>
</div>
<!-- Due to decorates_association :steps in PlanDecorator, when PlanDecorator decorates plan (@plan is PlanDecorator object), it uses StepDecorator to decorate each step that belongs to the plan -->
<% if !@plan.finished? && policy(@step).create? %>
  <div class="well well-lg">
    <h3>Add a New Step to "<%= @plan.title %>"</h3>
    <br>
    <%= render partial: "steps/step", locals: { plan: @plan, step: @step } %>
  </div>
<% end %>

<%= @plan.edit_link if policy(@plan).edit? && !@plan.finished? %>

<%= @plan.delete_link if policy(@plan).destroy? %>
