<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @plan.title %></h3>
    <label><em>an ERP plan designed by <%= @plan.user.name %></em></label>
  </div>

  <div class="panel-body">
    <%= render :collection => @plan_steps, :partial => "steps/step_div", :as => :step %>
  </div>
</div>

<% if policy(@step).create? %>
  <div class="well well-lg">
    <h3>Add a New Step to "<%= @plan.title %>"</h3>
    <br>
    <%= render partial: "steps/step", locals: { plan: @plan, step: @step } %>
  </div>
<% end %>

<br>

<% if policy(@plan).edit? %>
  <%= link_to "Edit Plan Overview", edit_plan_path(@plan) %>
<% end %>

<br>

<% if policy(@plan).destroy? %>
  <%= button_to "Delete ERP Plan", plan_path(@plan), method: :delete, data: { confirm: "Are you sure you want to delete this ERP plan?" } %>
<% end %>
