<div class="well well-lg">
  <%= form_tag obsessions_path, method: :get do %>
    <%= label_tag :search_thoughts, "Take a moment to introspect" %>:
    <%= text_field_tag :search_thoughts, params[:search_thoughts], placeholder: "Search your thoughts...", class: "form-control" %><br>
    <%= label_tag :min_anxiety_rating, "Anxiety level induced, in the range" %>:
    <%= number_field_tag :min_anxiety_rating, nil, in: 1..10 %> -
    <%= number_field_tag :max_anxiety_rating, nil, in: 1..10 %>
    <br><br>
    <%= label_tag "approach", "ERP Treatment Approach" %>:
    <%= select_tag "approach", options_for_select(["Flooding", "Graded Exposure"]), prompt: "Select Strategy" %>
    <br><br>
    <%= label_tag "ocd_theme", "OCD Theme" %>:
    <%= select_tag "ocd_theme", options_from_collection_for_select(themes, "id", "name"), prompt: "Choose Theme" %>
    <br><br>
    <%= label_tag :min_time_consumed, "Hours consumed daily, in the range" %>:
    <%= number_field_tag :min_time_consumed, nil, in: 0..24 %> -
    <%= number_field_tag :max_time_consumed, nil, in: 0..24 %>
    <br><br>
    <%= submit_tag "Filter Obsessions", class: "btn btn-default btn-sm" %>
  <% end %>
</div>
